<div class="container">
  <app-login
    *ngIf="isLogin; else Registration"
    [callback]="callback"
  ></app-login>
  <ng-template #Registration><app-registration [routeToLogin]="routeToLogin"></app-registration></ng-template>
  <button
    mat-button
    size="small"
    class="returnBtn"
    (click)="isLogin = !isLogin"
  >
    <mat-icon *ngIf="!isLogin">keyboard_return</mat-icon>
    {{ isLogin ? "Register" : "Return to Login" }}
  </button>
</div>
<!-- <div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>
<div *ngIf="rates">
  <div *ngFor="let rate of rates">
    <p>{{ rate.currency }}: {{ rate.rate }}</p>
  </div>
</div> -->
