<form class="form" [formGroup]="form">
  <h1>Registration</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput required formControlName="name" />
    <mat-error *ngIf="form.invalid">{{
      getErrorMessage(form.controls.name)
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="email@example.com"
      formControlName="email"
      required
    />
    <mat-error *ngIf="form.invalid">{{
      getErrorMessage(form.controls.email)
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
    />
    <mat-error *ngIf="form.invalid">{{
      getErrorMessage(form.controls.password)
    }}</mat-error>
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button (click)="onSubmit()" mat-raised-button color="primary">
    Sign up
  </button>
</form>
